@font-face /* Définition d'une nouvelle police nommée quicksand */
{ 
font-family: 'Quicksand';
src: url('../Fonts/Quicksand/Quicksand-Light.otf');
}

@font-face /* Définition d'une nouvelle police nommée quicksand */
{ 
font-family: 'Montserrat';
src: url('../Fonts/Montserrat/Montserrat-Regular.otf');
}

/*Couleur de fond du site*/

body
{
    background-color: #e1e4e7;
}

a
{
    text-decoration: none;
    color: black;
}

/*############### BANNIERE ###################*/

header
{
    background-image:url(../Image/Header/Fond_montagne.jpg);
    height:100%;
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    position: relative;
}

/*Menu*/

#Menu ul
{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;  
}

#Menu li
{
    float: left;
    font-size: 1.5em;
    font-family: Quicksand, Verdana;
}

#Menu li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
}

#Menu li:hover
{
    display: block;
    text-align: center;
    background-color: black;
    text-decoration: none;
}

header
{
    margin-bottom: 10px;
}


/* ############## ACCUEIL ############# */

#Chiffres h1
{
	text-align: center;
}

#Chiffres
{
	text-align: center;
    line-height: 40px;
    border: 3px solid #b6b6b6;
    border-radius: 10px;
    background-color: #dcdcdc
}

#Nombres 
{
	display: flex;
	justify-content: space-around;
}

#Nombres p
{
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
    padding-bottom: 30px;
}

#Alertes #liste_alertes
{
	display: flex;
	justify-content: space-around;
}

/*Liste clients*/
#clients
{

    width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : auto;
    margin-right : auto;
    padding: 10px;
    border-radius: 20px;
    background-color: #67bbde;
    border : 3px solid #219af4;
    box-shadow: 5px 5px 13px;

}

/* ############## LISTE CLIENTS ############### */

table
{
    width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : auto;
    margin-right : auto;
    border-radius: 10px;
    background-color: #dcdcdc;
    border : 3px solid #b6b6b6;
    box-shadow: 3px 3px 9px;
}


#tableau_clients {
    width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : auto;
    margin-right : auto;
    border-collapse: collapse;
    overflow: auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover
{
    background-color: #b9ecb0 ;
    cursor:pointer;
}

/* ################ ACCES MAISON #############*/


#confirmation
{
    text-align: center;
    line-height: 40px;
    border: 3px solid #b6b6b6;
    border-radius: 10px;
    background-color: #dcdcdc; 
}


/* ################# CHAT/SAV ############*/
.bloc_SAV
{
    width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : auto;
    margin-right : auto;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: #67bbde;
    border : 3px solid #219af4;
    box-shadow: 5px 5px 13px;
    font-family: Montserrat, Verdana;
}

.SAV_nouveau_ticket
{
    margin-left: 30px;
    margin-right: 30px;
}

.zone_message_SAV
{
    width : 100%;
}

.bouton_envoyer
{
    font-family: Montserrat, Verdana;
    margin-left : 50%;
    margin-right : 50%;
    margin-bottom: 10px;
}
/* ################ FOOTER ###############*/

footer
{
    
    display : flex;
    justify-content: space-between;
    height: 150px;
    line-height: 20px;

    /* Pour un footer responsif */
    background-image:url(../Image/Footer/fond_cristaux.png);
    height:100%;
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 10px;
}

footer img
{
    vertical-align: middle;
}

#a_propos, #le_groupe, #nous_contacter, #aide
{
    margin : 20px;
    font-family: Quicksand, Verdana;
    font-size: 1em;
}

.texte_f
{
    border-bottom: 1px solid #ddd;
}
