body
{
	background-color:#82c3b8;
	color: white;
	font-family: Arial;
}

header
{
	width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : 5px;
    margin-right : 5px;
    padding: 10px;
    border-radius: 20px;
    background-color: #82c5bc;
    border : 3px solid ;
    box-shadow: 5px 5px 13px;
}

#boutonSubmit
{
	border:none;
	margin: 10px;
	padding: 9px;
	border-radius:2px;
	box-shadow:3px 3px 12px #999;
	background:#fff;
	font:bold 13px Arial;
	color:#555;
}

.mail, .passmdp
{
	width: 20%;
	border: 2px solid #aaa;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 3s;
}

.mail:focus, .passmdp:focus
{
	border-color: dodgerBlue;
	box-shadow: 0 0 8px 0 dodgerBlue;
}
.menu ul
{	
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	background-color: #9ddfd0;
	padding: 20px;
	flex-wrap: wrap;
}
	
.menu ul :hover 
{
	font-weight: bold;
}

.login{
	text-align: right;
	font-size: 110%;
}

.vitrine_image1
{
	background-image:url(Image/paysage_vitrine.png);
	height:500px;
	background-position: center;
	background-position: no-repeat;
	background-size: cover;
	position: relative;
	border-radius: 5px;
	margin: 20px;
}

#logo_vitrine_image1
{
	width: 363px;
	height: 270px;
	padding-top: 100px;
	display: block;
	margin-left: auto;
   	margin-right: auto;

}

#texte_vitrine_image1
{
	text-align: center;
	font-size: 1.5em;
    font-family: Verdana;
}

.vitrine_text1
{
	text-align: center;
	font-size: 1.5em;
    font-family: Verdana;
}

.vitrine_image2
{
	background-image:url(Image/tech_vitrine.png);
	border-radius: 5px;
	height:300px;
	background-position: center;
	background-position: no-repeat;
	background-size: cover;
	position: relative;
	margin: 20px;
}

#texte_vitrine_image2
{
	text-align: center;
	font-size: 1.5em;
	padding-top: 30px;
    font-family: Verdana;
}

#button_multiple_vitrine_image2
{
	text-align: center;
	padding-top: 50px;
}

.button_vitrine_image2
{
	background: #073763;
	background: -webkit-linear-gradient(#073763, #073763);
	background: linear-gradient(#073763, #073763);
	border-radius: 5px;
	padding: 8px 22px;
	color: #073763;
	display: inline-block;
	font: normal 700 24px/1 "Calibri", sans-serif;
	text-align: center;
	text-shadow: none;
	-webkit-transition: color 0.5s;
  	transition: color 0.5s;
}

.button_vitrine_image2:hover
{
	color: #ffffff;
}

#texte2_vitrine_image2
{
	text-align: center;
	color: white;
	font-family: Verdana;
}

.meteo
 {
	background-color: white;
	border: 1px;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	margin-top: 10px; 
	margin-bottom: 10px;
	color: black;
}

.Graphs
{	
	border: 4px ;
	border-color: white;
	margin-top: 10px; 
	margin-bottom: 10px;
	padding: 250;
}

.Partenaires
{
	border: 1px;
	border-color: white;
	margin-top: 10px; 
	margin-bottom: 10px;
	padding: 200;
}

#utilisateur
{
	display: flex;
	justify-content: space-around;
}

#inscription, #connexion
{
	width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : 10px;
    margin-right : 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #82c5bc;
    border : 3px solid ;
    box-shadow: 5px 5px 13px;
}

#boutonInscription {
	border:none;
	padding:6px 0 6px 0;
	border-radius:2px;
	box-shadow:3px 3px 12px #999;
	background:#fff;
	font:bold 13px Arial;
	color:#555;
	margin-left: 40%;
	margin-right: 40%;
}

#boutonConnexion {
	border:none;
	margin: 10px;
	padding: 9px;
	border-radius:2px;
	box-shadow:3px 3px 12px #999;
	background:#fff;
	font:bold 13px Arial;
	color:#555;
}

section
{
	display: flex;
	flex-direction: column;
}

form
{
	padding: 50;
}

footer
{
    
    display : flex;
    justify-content: space-between;
    height: 150px;
    line-height: 20px;
    background-color: blue;

    /* Pour un footer responsif */
    /*background-image:url(../Image/Footer/fond_cristaux.png);*/
    height:100%;
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    position: relative;
}

footer img
{
    vertical-align: middle;
}

#a_propos, #le_groupe, #nous_contacter, #aide
{
    margin : 20px;
    font-family: Quicksand, Verdana;
    font-size: 1em;
}

.texte_f
{
    border-bottom: 1px solid #ddd;
}