/*################################### DEBUT HEADER ###################################*/
@font-face /* Définition d'une nouvelle police nommée quicksand */
{ 
font-family: 'Quicksand';
src: url('../Fonts/Quicksand/Quicksand-Light.otf');
}

@font-face /* Définition d'une nouvelle police nommée quicksand */
{ 
font-family: 'Montserrat';
src: url('../Fonts/Montserrat/Montserrat-Regular.otf');
}

body
{
    font-family: Montserrat, Verdana;
}

header
{ 
    height:300px;
}

/*Image de fond du header responsif : si on chnage la taille de l'image sera tjs centrée*/
#image_fond_header
{
    background-image:url(../Image/Header/estonia.jpg);
    height:100%;
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    position: relative;
}


/* liste pour le menu de la page */
ul.navbar
{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navbar li
{
    float: left;
    font-size: 1.5em;
    font-family: Quicksand, Verdana;
}

ul.navbar li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

ul.navbar li a:hover:not(.active) 
{
    background-color: #111;
}

/* Pour le bouton du menu ma maison */
.active 
{
    background-color:  #c99f4a;
}


body
{
    background-color:#e1e4e7;
}

/*################################### FIN HEADER ###################################*/

/*################################### ACCUEIL ######################################*/

#tableau_bord
{
    width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : auto;
    margin-right : auto;
    padding-left: 10px;
    border-radius: 20px;
    background-color: #A5CAFF;
    border : 3px solid #8FA8DE;
    box-shadow: 5px 5px 13px;
}

#graphes_domisep
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* ################################## LISTE CLIENTS ##################################*/

#clients
{
    width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : auto;
    margin-right : auto;
    padding: 10px;
    border-radius: 20px;
    background-color: #A5CAFF;
    border : 3px solid #8FA8DE;
    box-shadow: 5px 5px 13px;
    font-family: Montserrat, Verdana;
}

#recherche_client
{
    display: flex;
    justify-content: flex-start;
}

#recherche_client input
{
    margin-left: 10px;
    margin-right: 10px;
}

.SAV_table
{
    margin: auto;
}


#tableau_clients {
    width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : auto;
    margin-right : auto;
    border-collapse: collapse;
    overflow: auto;
    background-color: #dcdcdc;
    font-family: Montserrat, Verdana;
}

th, td {
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover
{
    background-color: #b9ecb0 ;
    cursor:pointer;
}

#details_client
{
    width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : auto;
    margin-right : auto;
    padding: 10px;
    border-radius: 20px;
    background-color: #A5CAFF;
    border : 3px solid #8FA8DE;
    box-shadow: 5px 5px 13px;
    font-family: Montserrat, Verdana;
}

#proprietes
{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#Pieces h2, #Capteurs h2, #Actionneurs h2
{
    text-align: center;
}

#liste_piece_user, #liste_capteurs_user, #liste_actionneurs_user
{
    display: flex;
    justify-content: space-around;
}

#Pieces p, #Capteurs p, #Actionneurs p
{
    border : 1px solid black;
    padding: 10px;
    border-radius: 3px;
}

#tableaux_client_admin table
{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #dcdcdc;
    overflow: auto;
    width: 80%;
}

#tableaux_client_admin caption
{
    font-size: 30px;
    margin-bottom: 10px;
}

/*###################################  MON PROFIL ###################################*/
#profil {
    width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : auto;
    margin-right : auto;
    border-radius: 20px;
    background-color: #A5CAFF;
    border : 3px solid #8FA8DE;
    box-shadow: 5px 5px 13px;
}

#articles
{
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-wrap: wrap;
}

#articles article
{
    border : 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 40%;
}

#profil h1, img
{
    margin-left: 10px;
}


/*################################### QUIT DOMISEP ###################################*/

#quit {
    width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : auto;
    margin-right : auto;
    border-radius: 20px;
    background-color: #A5CAFF;
    border : 3px solid #8FA8DE;
    box-shadow: 5px 5px 13px;
    text-align: center;
}
/*################################### DEBUT FOOTER ###################################*/

/* Pour le footer de la page */
footer
{
    
    display : flex;
    justify-content: space-between;
    height: 150px;
    line-height: 20px;

    /* Pour un footer responsif */
    background-image:url(../Image/Footer/fond_cristaux_marrange.png);
    height:100%;
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    position: relative;
}

footer img
{
    vertical-align: middle;
}

#a_propos, #le_groupe, #nous_contacter, #aide
{
    margin : 20px;
    font-family: Quicksand, Verdana;
    font-size: 1em;
}

.texte_f
{
    border-bottom: 1px solid #ddd;
}

/*################################### PAGES FOOTER ###################################*/
.pages_footer
{
    font-family: Montserrat, Verdana;
    /*ont-size: 1.2em;*/
}

/*################################### FIN FOOTER ###################################*/