/*################################### DEBUT HEADER ###################################*/
@font-face /* Définition d'une nouvelle police nommée quicksand */
{ 
font-family: 'Quicksand';
src: url('../Fonts/Quicksand/Quicksand-Light.otf');
}

header
{ 
    height:300px;
}

/*Image de fond du header responsif : si on chnage la taille de l'image sera tjs centrée*/
#image_fond_header
{
    background-image:url(../Image/Header/Fond_montagne.jpg);
    height:100%;
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    position: relative;
}


/* liste pour le menu de la page */
ul.navbar
{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navbar li
{
    float: left;
    font-size: 1.5em;
    font-family: Quicksand, Verdana;
}

ul.navbar li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

ul.navbar li a:hover:not(.active) 
{
    background-color: #111;
}


body
{
    background-color:#e1e4e7;
}

/*################################### FIN HEADER ###################################*/

/*################################### DEBUT BANNER ###################################*/

@font-face /* Définition d'une nouvelle police nommée quicksand */
{ 
font-family: 'Montserrat';
src: url('../Fonts/Montserrat/Montserrat-Regular.otf');
}

/* Pour le bouton du menu ma maison */
.active 
{
    background-color:#118ccf;
}

.slider_boutons
{
    display: flex;

    justify-content: space-between;
    padding : 5px;
}

/* Pour le slider en haut de la page */
.Slide_h 
{
    height:150px;
    display:none; 
}

.Text_Slide_h
{
    font-family: Montserrat, Verdana;
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
}

.Slider_h
{
    width:50%;
    height:150px;
    border: 5px #2149A0 outset;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.Slider_h_gauche, .Slider_h_droite
{
    background-color: rgba(150,200,150,0.8);
    border: none;
    height:22px;
    width:22px;
    text-align:center;
    border-radius: 5px;
    margin-top: 60px;
}

.Slider_h_gauche:hover, .Slider_h_droite:hover
{
    background-color: rgba(150,200,150,0.6);
}

/* Pour les boutons de l'activation des modes */

.bouton_eco, .bouton_sortie, .bouton_confort, .bouton_hibernation 
{
    max-width:120px;
    max-height:120px;
    min-width:120px;
    min-height:120px;
    background: #118ccf;
    box-shadow:2px 2px 8px #aaa;
    font:bold 15px Montserrat, Verdana;
    border-radius:50%;
    color:#555;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bouton_eco:hover, .bouton_sortie:hover, .bouton_confort:hover, .bouton_hibernation:hover
{
    background:  #104a6a ;
}

#bouton_mode
{
    display: flex;
    justify-content: flex-end;
    /*padding: 0px;*/
    padding-left:0;
}


/*################################### FIN BANNER ###################################*/

/*################################### DEBUT ACCEUIL_CLIENT ###################################*/

.tableau_bord
{
    width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : auto;
    margin-right : auto;
    border-radius: 20px;
    background-color: #A5CAFF;
    border : 3px solid #8FA8DE;
    box-shadow: 5px 5px 13px;
}

#bloc_info
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.info_H_G, .info_H_D, .info_B_G, .info_B_D
{
    padding: 15px;
    margin: 15px;
    width:800px;
    height:400px;
    border-radius: 10px;
    background-color: #dcdcdc;
    border : 3px solid #b6b6b6;
    box-shadow: 3px 3px 9px;
    display: flex;
    justify-content: space-between;
}

.Image_Slide_Haut_Gauche
{
    width: auto;
    height: auto;
}


.info_bloc_gauche, .info_bloc_droite
{
    background-color: rgba(150,200,150,0.8);
    border: none;
    height:22px;
    width:22px;
    text-align:center;
    border-radius: 2px;
    margin-top: 189px;
    margin-bottom: 189px;

    /*Transition de la taille des curseurs*/
    -webkit-transition: width 0.5s, height 0.5s, margin-top 0.5s, margin-bottom 0.5s; /* Pour Safari */
    transition: width 0.5s, height 0.5s, margin-top 0.5s, margin-bottom 0.5s;
}

.info_bloc_gauche:hover, .info_bloc_droite:hover
{
    background-color: rgba(150,200,150,0.6);
    height:34px;
    width:34px;
    margin-top: 183px;
    margin-bottom: 183px;
}

/*################################### FIN ACCEUIL_CLIENT ###################################*/

/*################################### DEBUT SAV ###################################*/

/*Pour le SAV du site*/
.bloc_SAV
{
    width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : auto;
    margin-right : auto;
    border-radius: 20px;
    background-color: #A5CAFF;
    border : 3px solid #8FA8DE;
    box-shadow: 5px 5px 13px;
}

.Liste_tickets
{
    width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : auto;
    margin-right : auto;
    border-radius: 10px;
    background-color: #dcdcdc;
    border : 3px solid #b6b6b6;
    box-shadow: 3px 3px 9px;
}

.SAV_table {
    width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : auto;
    margin-right : auto;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
    font-family: Montserrat, Verdana;
}

tr
{
    font-family: Montserrat, Verdana;
}

tr:hover
{
    background-color: #b9ecb0 ;
    cursor:pointer;
}

.SAV_nouveau_ticket
{
    font-family: Montserrat, Verdana;
    margin-left: 30px;
    margin-right: 30px;
}

.zone_objet_SAV
{
    font-family: Montserrat, Verdana;
}

.zone_message_SAV
{
    width : 100%;
}

.bouton_envoyer
{
    font-family: Montserrat, Verdana;
    margin-left : 50%;
    margin-right : 50%;
    margin-bottom: 10px;
}

/*################################### FIN SAV ###################################*/

/*################################### DEBUT PROFIL ###################################*/

/*Pour la page profit client*/
#sectionClient
{ 
    width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : auto;
    margin-right : auto;
    background-color: #A5CAFF;
    border : 3px solid #8FA8DE;
    box-shadow: 5px 5px 13px;
    height: 450px;
    text-align: center;
    border-radius: 20px;  
}

#conteneur{
    display:flex;
    justify-content: space-around;
}
        
#imageClient{
    margin-top: 10px; 
    height: 200px;
    width: 200px;
}

.element:nth-child(1){
    margin-top: 50px; 
    background-color: #FFF0F5;
    width: 500px; 
    border-style: groove;
    border-width: 2px; 
    border-color: #008080; 
    border-radius: 10px; 
}
.element:nth-child(2){
    margin-top: 50px; 
    background-color: #FFF0F5; 
    width: 500px;
    border-style: groove;
    border-width: 2px; 
    border-color: #008080; 
    border-radius: 10px;  
    text-align: left; 
    text-indent: 25px; 

}

/*################################### FIN PROFIL ###################################*/

/*################################### DEBUT FOOTER ###################################*/

/* Pour le footer de la page */
footer
{
    
    display : flex;
    justify-content: space-between;
    height: 150px;
    line-height: 20px;

    /* Pour un footer responsif */
    background-image:url(../Image/Footer/fond_cristaux.png);
    height:100%;
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    position: relative;
}

footer img
{
    vertical-align: middle;
}

#a_propos, #le_groupe, #nous_contacter, #aide
{
    margin : 20px;
    font-family: Quicksand, Verdana;
    font-size: 1em;
}

.texte_f
{
    border-bottom: 1px solid #ddd;
}

/*################################### PAGES FOOTER ###################################*/
.pages_footer
{
    font-family: Montserrat, Verdana;
    /*ont-size: 1.2em;*/
}

/*################################### FIN FOOTER ###################################*/

/**************************************************************/
/********************** PAGE CONSOMMATION *********************/
/**************************************************************/

/* Pour le fond des cadres */
.consommation
{
    width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : auto;
    margin-right : auto;
    border-radius: 20px;
    background-color: #A5CAFF;
    border : 3px solid #8FA8DE;
    box-shadow: 5px 5px 13px;
}

/* Pour l'organisation des cadres */
#consommation
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

#consommation h1{
	flex-basis: 100%;
	max-height: 50px;
}
/* Pour les cadres généraux HAUT et BAS */
.consommationHAUT, .consommationBAS
{
    padding: 10px;
    margin: 15px;
    background-color: #dcdcdc;
    border : 3px solid #b6b6b6;
    box-shadow: 3px 3px 9px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    align-content: baseline;    
} 

.consommationHAUT h1, .consommationBAS h1
{
    padding: 10px;
    margin: 10px;
} 

/* Pour les cadres spécifiques de la page conso. */
#grapheConso
{
    border-radius: 10px;
    background-color: #CBCBCB;
    padding: 5px;

}

/* Pour les cadres spécifiques de la page conso. */
#listeFactures
{
    border-radius: 10px;
    background-color: #CBCBCB;
    padding: 5px;


} 

/* Pour les cadres spécifiques de la page conso. */
#grapheFactures
{
    border-radius: 10px;
    background-color: #CBCBCB;
    padding: 5px;

} 


/**************************************************************/
/*********************** PAGE QUIT CLIENT *********************/
/**************************************************************/

#quit {
    width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : auto;
    margin-right : auto;
    border-radius: 20px;
    background-color: #A5CAFF;
    border : 3px solid #8FA8DE;
    box-shadow: 5px 5px 13px;
    text-align: center;
}

#quit p {

}

/*################################### DEBUT COMMUN ###################################*/
h1
{
    font-family: Montserrat, Verdana;
    margin-left: 30px;
}

h2
{
    font-family: Montserrat, Verdana;
    font-size: 1.3em;
    margin-left: 30px;
}
/*################################### FIN COMMUN ###################################*/
